a {
	cursor: pointer;
}
img {
	margin: 0.5em;
}
.page-header{
	padding-top: 40px;
	margin-top: 0;
}
.doc{
	padding-top: 30px;
}
.alphabetical-list {
	list-style-type: lower-alpha;
}

#sidebar-menu{
	margin-top: 1em;
	width: 350px;
}
#sidebar-menu li > ul{
	margin-left: 20px;
	font-size: 12px;
}

@media (max-width: 991px) {
  div.affix {
    position: static;
    width: auto;
    top: 0;
  }
}

footer{
	margin-top: 3em;
}